<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriKheti</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/footer-distributed-with-address-and-phones.css">
    <style>
      nav{
        margin-bottom: 0px !important;
      }
    </style>
</head>

<body>
  <% include nav.ejs %>
<div class="w3-white">
    <header class="w3-container w3-green">
        <h1 class="w3-center">Products</h1>
    </header>

    <div class="w3-container">
    <ul class="w3-ul w3-hoverable w3-card-4">
        <li class="w3-bar">
          <img src="assets/img/wheat-seeds-250x250.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
          <div class="w3-bar-item">
            <span class="w3-large">Wheat</span><br>
            <span>17 Rs./Kg</span>
          </div>
        </li>

        <li class="w3-bar">
          <img src="assets/img/GREEN_BAJRA.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
          <div class="w3-bar-item">
            <span class="w3-large">Green Bajra</span><br>
            <span>17 Rs./Kg</span>
          </div>
        </li>

        <li class="w3-bar">
          <img src="assets/img/kalachana.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
          <div class="w3-bar-item">
            <span class="w3-large">Kala Chana</span><br>
            <span>17 Rs./Kg</span>
          </div>
        </li>

        <li class="w3-bar">
          <img src="assets/img/long-melon-seed-250x250.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
          <div class="w3-bar-item">
            <span class="w3-large">Melon</span><br>
            <span>17 Rs./Kg</span>
          </div>
        </li>

        <li class="w3-bar">
          <img src="assets/img/golden-rice.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
          <div class="w3-bar-item">
            <span class="w3-large">Golden Rice</span><br>
            <span>17 Rs./Kg</span>
          </div>
        </li>

        <li class="w3-bar">
          <img src="assets/img/Yellow-corn-maze.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
          <div class="w3-bar-item">
            <span class="w3-large">Yellow Corn Maize</span><br>
            <span>17 Rs./Kg</span>
          </div>
        </li>

        <li class="w3-bar">
          <img src="assets/img/soyabean-seeds.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
          <div class="w3-bar-item">
            <span class="w3-large">Soyabean</span><br>
            <span>17 Rs./Kg</span>
          </div>
        </li>

        <li class="w3-bar">
          <img src="assets/img/Tulsi-Seeds.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
          <div class="w3-bar-item">
            <span class="w3-large">Tulsi</span><br>
            <span>17 Rs./Kg</span>
          </div>
        </li>
      </ul>
    </div>
</div>

    <footer class="footer-distributed">

            <div class="footer-left">

                <h3>Agri<span>Kheti</span></h3>

                <p class="footer-links">
                    <a href="#">Home</a>
                    路
                    <a href="#">Blog</a>
                    路
                    <a href="#">Pricing</a>
                    路
                    <a href="#">About</a>
                    路
                    <a href="#">Contact</a>
                </p>

                <p class="footer-company-name">AgriKheti &copy; 2018</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>21 Ratanada Circle</span> Jodhpur, Rajasthan</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+91 123456789</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@agrikheti.in">support@agrikheti.in</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span>
                    For every farmer there is an sms.
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>

                </div>

            </div>

        </footer>

</body>

</html>
