<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriKheti</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/formdiv.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src='scripts/tutorials.js'></script>
    <style>
      .list-group-item:hover{
        background-color: #333333;
        cursor:pointer;
      }
    </style>
</head>

<body>
  <% include nav.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-group">
          <li class="list-group-item">Agricultural Machinery - part 1 (Hindi)</li>
          <li class="list-group-item">Agricultural Machinery - part 2 (Hindi)</li>
          <li class="list-group-item">Farm implements in india / krishi yantra subsidy farm equipment bank</li>
          <li class="list-group-item">बिना मजदूरों के सिचाईं करने का देशी तरीका कम खर्च में</li>
        </ul>
      </div>
      <div class="col-sm-8">
        <iframe id='tutorial-frame' width="560" height="315" src="https://www.youtube.com/embed/1RoOVru3o3k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</html>
